html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

span{
  font-family: "Arial", "Helvetica";
  color: white;
}

canvas {
  display: block;
}

#upperSection{
  height: 100vh;
  width: 100%;
}

.noteDisplay{
  width: 100vh;
}


#targetNote{
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 400px;
}

.buttonMatrix{
  width: 100%;
  height: 50vh;
  display:flex;
  flex-direction: column;
}


.buttonRow {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonRow button {
  background-color: rgb(48, 126, 200);
  color: white;
  font-family: "Arial", "Helvetica";
  font-size: 25px;
  width: 20vh;
  height: 10vh;
  border-radius: 12px;
  flex-grow: 1;
}

