html, body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, span{
  font-family: "Arial", "Helvetica";
  color: white;
}

canvas {
  display: block;
}

button{
  background-color: rgb(48, 126, 200);
  color: white;
  font-family: "Arial", "Helvetica";
  font-size: 25px;
  width: 20vh;
  height: 10vh;
  border-radius: 12px;
}

#upperSection{
  height: 100vh;
  width: 100%;
}

#upperSection button{
  height: 8vh;
  width: 15vh;

}

#upperBar{
  display: flex;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 10px;
}

#detectedNote{
  display: block;
  text-align: right;
  font-size: 50px;
  opacity: .8;
}

.noteDisplay{
  width: 100vh;
}


#targetNote{
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 400px;
}

#lowerSection{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#lowerSection h1{
  margin-top: 5vh;
}

#lowerSection span{
  font-size: 20px
}

.buttonMatrix{
  display:flex;
  flex-direction: column;
  margin: 5vh;

}


.buttonRow {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.buttonRow button {
  width: 20px;
  flex-grow: 1;
}

