/* .entry-page {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.title-text-container {
  position: absolute;
  width: 100%;

  top: max(3%, calc(20.5% - 10vw));
}

.navigation-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;

  bottom: max(calc(40% - 30vw), 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  flex-wrap: wrap;
  row-gap: 20px;
} */

.entry-page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: center;
  gap: 25px;
  align-items: center;

  max-width: 100vw;
  height: 100vh;
}

.title-text-container {
  
  width: 100%;

}

.navigation-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;


  width: 80%;
  flex-wrap: wrap;
  row-gap: 20px;
}

.navigation-button{
  min-width: min(300px, 100%);
  border-radius: 100px;
  font-size: 1.1rem;
}

.start-button {
  background-color: var(--color-accent);
}

.start-button:hover {
  background-color: transparent;
  color: white;
  border-color: var(--color-accent);
}

.about-button {
  background-color: transparent;
  border-color: white;
}

.about-button:hover {
  border-color:  var(--color-accent);
}


.about-page {
  width: 66vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 1em;
  padding-bottom: 3em ;
  margin: auto;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .about-page {
    width: 90vw;
  }
}