.titleTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.titleTextContainer h1 {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: -0.25em;
    font-size: clamp(3rem, 22vw, 8rem);
    font-family: 'Jockey One', sans-serif;
}

.titleTextContainer p {
    font-size: clamp(1rem, 7.5vw, 2.6rem);;
    margin-top: 0rem;
}

.highlight {
    color: #00d7fd;
}