.titleTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.titleTextContainer h1 {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: -0.25em;
    font-size: clamp(3rem, 22vw, 8rem);
    font-family: 'Jockey One', sans-serif;
    line-height: 1.1;
}

.subtitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .2em;
    width: fit-content;
    height: 100%;
    font-size: clamp(1rem, 7.5vw, 2.6rem);
    margin: auto;
    margin-top: -.025em;
    transition: all .2s ease-in-out;

}

.subtitle {
    transition: all .2s ease-in-out;

}

.titleTextContainer p {


    font-size: clamp(1rem, 7.5vw, 2.6rem);

    margin-top: 0rem;


}

.highlight {
    display: inline-block;
    text-align: start;
    color: var(--color-accent);
    /*     min-width: 3.6em;
 */
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.return-transition {
    opacity: 0;
    transform: translateY(50px);
}
.exit-transition {
    opacity: 0;
    transform: translateY(-50px);
}
.enter-transition {
    opacity: 1;
    transform: translateY(0);
}

.enter {

    animation-name: enter-animation;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}


.exit {
    animation-name: exit-animation;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.highlight-animation-0 {
    animation-name: highlight-animation-0;
}

.highlight-animation-1 {
    animation-name: highlight-animation-1;
}

.highlight-animation-2 {
    animation-name: highlight-animation-2;

}

@keyframes enter-animation {

    0%,10% 
     {
        transform: translateY(50px);
        opacity: 0;
    }

    90%,
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes exit-animation {

    0%,
    10% {
        transform: translateY(0px);
        opacity: 1;
    }

    90%,
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}


@keyframes highlight-animation-0 {


    0%,
    85% {
        transform: translateY(0px);
        opacity: 1;
        color: var(--color-accent);

    }

    95%,
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes highlight-animation-1 {


    0%,
    5% {
        transform: translateY(50px);
        opacity: 0;
    }

    15%,
    85% {
        transform: translateY(0px);
        opacity: 1;
        color: var(--color-accent);

    }

    95%,
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}


@keyframes highlight-animation-2 {

    0%,
    5% {
        transform: translateY(50px);
        opacity: 0;
    }

    15%,
    100% {
        transform: translateY(0px);
        opacity: 1;
        color: var(--color-accent);

    }

}




/* @keyframes highlight-animation-0 {

    0%,
    17% {
        opacity: 1;
        color: white;
    }

    33%,
    66% {
        opacity: 1;
        color: var(--color-accent);

    }

    98%,
    100% {
        opacity: 0;
    }
}

@keyframes highlight-animation-1 {

    0%,
    16% {
        opacity: 0;
        color: white
    }

    17% {
        opacity: 1;
        color: white;
    }

    33%,
    66% {
        opacity: 1;
        color: var(--color-accent);

    }

    100% {
        opacity: 0;
    }

}


@keyframes highlight-animation-2 {

    0%,
    16% {
        opacity: 0;
        color: white
    }

    17% {
        opacity: 1;
        color: white;
    }

    100% {
        opacity: 1;
        color: var(--color-accent);

    }

}
 */